body {
    font-family:'Times New Roman', Times, serif,;
    background-color: black;
    margin: 0;
    padding: 0;
}

form {
    width: 50%;
    margin: 40px auto;
    padding: 25px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1 {
    color:black;
    margin-bottom: 20px;
}

p {
    font-weight: bold;
    margin-bottom: 8px;
}

label {
    margin-right: 15px;
}

textarea,
select {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

input[type="radio"] {
    margin-right: 5px;
}

button {
    background-color: #1E90FF;
    color: white;
    border: none;
    padding: 12px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #187bcd;
}
.back-btn {
    display: inline-block;
    margin: 20px;
    padding: 10px 20px;
    background-color: #1E90FF;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition: 0.3s;
}

.back-btn:hover {
    background-color: #187bcd;
}
body {
    background-image: url("pexels-pixabay-531880.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
