.back-btn {
    display: inline-block;
    margin: 20px;
    padding: 10px 20px;
    background-color: #1E90FF;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition: 0.3s;
}
body {
     text-align: center;

}
body {
    background-image: url("R.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
p {
    font-size:32px;
    color: white;
}
h2 {color:red;

}
h1 {
    color:yellow;
}